In [1]:
import os
import os


from pyspark.sql import SparkSession


#

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [11]:
df = spark.read.option('header', 'true').csv(r"C:\Users\farho\datasets\books_recommender\Ratings.csv", inferSchema=True)
df.printSchema()
df.show(5)

root
 |-- User-ID: integer (nullable = true)
 |-- ISBN: string (nullable = true)
 |-- Book-Rating: integer (nullable = true)

+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
+-------+----------+-----------+
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
+-------+----------+-----------+
only showing top 5 rows

In [12]:
df = spark.read.csv(r"C:\Users\farho\datasets\books_recommender\Ratings.csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- User-ID: integer (nullable = true)
 |-- ISBN: string (nullable = true)
 |-- Book-Rating: integer (nullable = true)

In [9]:
df.printSchema()

root
 |-- User-ID: string (nullable = true)
 |-- ISBN: string (nullable = true)
 |-- Book-Rating: string (nullable = true)

In [13]:
df.columns

['User-ID', 'ISBN', 'Book-Rating']

In [15]:
df.head(5)

[Row(User-ID=276725, ISBN='034545104X', Book-Rating=0),
 Row(User-ID=276726, ISBN='0155061224', Book-Rating=5),
 Row(User-ID=276727, ISBN='0446520802', Book-Rating=0),
 Row(User-ID=276729, ISBN='052165615X', Book-Rating=3),
 Row(User-ID=276729, ISBN='0521795028', Book-Rating=6)]

In [18]:
df.select(['User-ID', 'ISBN']).show()

+-------+----------+
|User-ID|      ISBN|
+-------+----------+
| 276725|034545104X|
| 276726|0155061224|
| 276727|0446520802|
| 276729|052165615X|
| 276729|0521795028|
| 276733|2080674722|
| 276736|3257224281|
| 276737|0600570967|
| 276744|038550120X|
| 276745| 342310538|
| 276746|0425115801|
| 276746|0449006522|
| 276746|0553561618|
| 276746|055356451X|
| 276746|0786013990|
| 276746|0786014512|
| 276747|0060517794|
| 276747|0451192001|
| 276747|0609801279|
| 276747|0671537458|
+-------+----------+
only showing top 20 rows

In [21]:
df.dtypes

[('User-ID', 'int'), ('ISBN', 'string'), ('Book-Rating', 'int')]

In [22]:
df.describe()

DataFrame[summary: string, User-ID: string, ISBN: string, Book-Rating: string]

In [23]:
df.describe().show()

+-------+------------------+-----------+------------------+
|summary|           User-ID|       ISBN|       Book-Rating|
+-------+------------------+-----------+------------------+
|  count|           1149780|    1149780|           1149780|
|   mean|140386.39512602412|   Infinity|2.8669501991685364|
| stddev| 80562.27771851169|        NaN| 3.854183859201664|
|    min|                 2| 0330299891|                 0|
|    max|            278854|  Ô½crosoft|                10|
+-------+------------------+-----------+------------------+

In [27]:
df = df.withColumn('description', df['User-ID'] * 2)

In [28]:
df.show()

+-------+----------+-----------+-----------+
|User-ID|      ISBN|Book-Rating|description|
+-------+----------+-----------+-----------+
| 276725|034545104X|          0|     553450|
| 276726|0155061224|          5|     553452|
| 276727|0446520802|          0|     553454|
| 276729|052165615X|          3|     553458|
| 276729|0521795028|          6|     553458|
| 276733|2080674722|          0|     553466|
| 276736|3257224281|          8|     553472|
| 276737|0600570967|          6|     553474|
| 276744|038550120X|          7|     553488|
| 276745| 342310538|         10|     553490|
| 276746|0425115801|          0|     553492|
| 276746|0449006522|          0|     553492|
| 276746|0553561618|          0|     553492|
| 276746|055356451X|          0|     553492|
| 276746|0786013990|          0|     553492|
| 276746|0786014512|          0|     553492|
| 276747|0060517794|          9|     553494|
| 276747|0451192001|          0|     553494|
| 276747|0609801279|          0|     553494|
| 276747|0671537458|          9|     553494|
+-------+----------+-----------+-----------+
only showing top 20 rows

In [32]:
df = df.drop('description')

In [33]:
df.show()

+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
+-------+----------+-----------+
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
| 276733|2080674722|          0|
| 276736|3257224281|          8|
| 276737|0600570967|          6|
| 276744|038550120X|          7|
| 276745| 342310538|         10|
| 276746|0425115801|          0|
| 276746|0449006522|          0|
| 276746|0553561618|          0|
| 276746|055356451X|          0|
| 276746|0786013990|          0|
| 276746|0786014512|          0|
| 276747|0060517794|          9|
| 276747|0451192001|          0|
| 276747|0609801279|          0|
| 276747|0671537458|          9|
+-------+----------+-----------+
only showing top 20 rows

In [35]:
df = df.withColumnRenamed('ISBN', 'isbn')

In [36]:
df.show()

+-------+----------+-----------+
|User-ID|      isbn|Book-Rating|
+-------+----------+-----------+
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
| 276733|2080674722|          0|
| 276736|3257224281|          8|
| 276737|0600570967|          6|
| 276744|038550120X|          7|
| 276745| 342310538|         10|
| 276746|0425115801|          0|
| 276746|0449006522|          0|
| 276746|0553561618|          0|
| 276746|055356451X|          0|
| 276746|0786013990|          0|
| 276746|0786014512|          0|
| 276747|0060517794|          9|
| 276747|0451192001|          0|
| 276747|0609801279|          0|
| 276747|0671537458|          9|
+-------+----------+-----------+
only showing top 20 rows